<main>
  <section id="cabecera">
    <img src="assets/fotos/grapes-2000.jpg" alt="">
    <div class="grid">
      <div class="column-60">
        <h1>Bienvenidos a La Huerta</h1>
      </div>
      <div class="column-40">
        <!--  <div class="image-div">
          <img id="cesta" src="assets/img/ICOfruitBAG.png" alt="cesta">
        </div> -->
      </div>
    </div>
  </section>

  <section id="info">
    <h2>Recolecta de la huerta a tu casa</h2>

    <div class="container"> 
      <div class="card">
        <div class="icon">
          <img src="assets/img/team128.png" alt="easy to use icon">
        </div>
        <div class="desc">
          <h3>Para todos</h3>
          <p>Compra, vende o intercambia productos agrícolas desde tu casa.
          </p>
        </div>
      </div>
  
      <div class="card">
        <div class="icon">
          <img src="assets/img/ubicacion.png" alt="data privacy icon">
        </div>
        <div class="desc">
          <h3>En todas partes</h3>
          <p>La huerta llega a todos los lugares,busca por provincia o localidad y decide si envías o recoges.
          </p>
        </div>
      </div>
  
      <div class="card">
        <div class="icon">
          <img src="assets/img/balanzaMano.png" alt="data privacy icon">
        </div>
        <div class="desc">
          <h3>Justo</h3>
          <p>Cada vendedor fija libremente los precios de sus productos y se lleva el beneficio total de la venta.</p>
        </div>
      </div> 
    </div>
  </section>

  <div id="espantapajaros">
    <img src="assets/img/winstonchurchill.png" alt="">
  </div>
</main>