
/***** GENERAL  ****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #37383a;
}

/* FLEX BOX */
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}
.col{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
}

.card {
  width: 240px;
  height: 282px;
  margin: 0.4rem;
  padding: 2rem 1rem 2rem 1rem;
  border: 0.1px solid #b4bebe;
  border-radius: 5px;
  color: #727272;
}

/**** CABECERA ****/
#sub1 {
  font-size: 3rem;
  font-family: "Signika", sans-serif;
  color: #f39c12;
  margin-top: 50px;

}
#sub2{
  font-size: 2.5rem;
  font-family: "Signika", sans-serif;
  color: #f39c12;
}

#sub3{
  font-size: 1.5rem;
  margin-top: 5px;
  color: #267172;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* CARDS */
.icon {
  width: 68px;
}

.desc > h3 {
  margin: 1rem 0 1rem 0;
}

.desc {
  font-style: "Roboto", sans-serif;
  font-size: 15px;
}
.desc h3 {
  font-family: "Signika";
  font-size: 1.3rem;
  color: #f39c12;
}

#info {
  padding-right: 23rem;
  padding-left: 23rem;
  text-align: center;
}

/* **** BOTON PARA ENTRAR EN LA HUERTA **** */
a
{
    border-radius: 25px;
    width: 180px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #fdffee;
    font-size: 15px;
    border: 0.16em solid rgba(255, 255, 255, 0);
    text-decoration: none;
    background-color:#f39c12;
    transition: box-shadow 0.16s ease;
    text-align: center;
    margin-top: 20px;
    padding-top: 3px;
}

a:hover 
{
    background: #408f91;
    box-shadow: none;
}

/* @media (max-width: 650px) {
  h1 {
    font-size: 1.4rem;
  }
}


@media screen and (max-width: 1000px) {
  .column-60,
  .column-40 {
    width: 100%;
    float: none;
    padding: 0;
  }
  .image-div img {
    margin: auto;
  }
}

@media (max-width: 650px) {
  .logo-img {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
    margin: 2.5rem auto;
  }
}

@media (max-width: 1000px) {
  #cabecera {
    height: 750px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
  #cabecera {
    margin-top: 120px;
    height: 900px;
  }
}

@media (max-width: 650px) {
  #cabecera-img {
    margin: 2rem auto !important;
  }
}

@media (max-width: 650px) {
  #cabecera-img {
    margin-top: -280px !important;
    left: 88%;
  }
} */
