* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #37383a;
}
/***** clases col y row ****/
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}
.col{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
}

/**** CABECERA ****/
#sub1 {
  font-size: 3rem;
  font-family: "Signika", sans-serif;
  color: #f39c12;
  /* font-weight: 500; */
  /* position: absolute;
  top: 48%;
  left: 50%; 
  transform: translate(-50%, -50%);*/
}
#sub2{
  font-size: 2.5rem;
  font-family: "Signika", sans-serif;
  color: #f39c12;
  margin-left: 20PX;
}


@media (max-width: 650px) {
  h1 {
    font-size: 1.4rem;
  }
}

h2 {
  margin-bottom: 5rem;
  font-size: 2.4rem;
  margin-top: 30px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

iframe {
  border: 0;
}

/* Global Classes */
/* 
.column-60 {
  float: left;
  width: 60%;
  padding: 0 10%;
} */

.column-40 {
  float: left;
  padding: 0 3%;
  width: 40%;
  margin-bottom: -45px;
}

.grid::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1000px) {
  .column-60,
  .column-40 {
    width: 100%;
    float: none;
    padding: 0;
  }
  .image-div img {
    margin: auto;
  }
}

.logo-img {
  width: 100%;
  max-width: 200px;
}

@media (max-width: 650px) {
  .logo-img {
    margin: 0 auto;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0.4rem;
  padding: 2rem 1rem 2rem 1rem;
  border: 0.1px solid #b4bebe;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin: 2.5rem auto;
  }
}

.icon {
  width: 68px;
}

.desc > h3 {
  margin: 1rem 0 1rem 0;
}

.desc {
  font-style: "Roboto", sans-serif;
  font-size: 15px;
}
.desc h3 {
  font-family: "Signika";
  font-size: 1.3rem;
}

/* cabecera */

/*#cabecera {
  background-color: #4a4fbd;
  background:linear-gradient(135deg, #E67E22 0%,#d69937 100% );
  color: #fff;
  height: 400px;
  margin: 5rem 0;
  padding: 5rem;
}
*/
#cabecera img {
  margin-top: 45px;
  width: 2000px;
}

@media (max-width: 1000px) {
  #cabecera {
    height: 750px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
  #cabecera {
    margin-top: 120px;
    height: 900px;
  }
}

#description {
  font-size: 2rem;
  margin-bottom: 5rem;
  font-family: "Roboto", sans-serif;
}

#cabecera .btn {
  background-color: Transparent;
  border: 2px solid #fff;
}

#cabecera .btn:hover {
  background-color: #fff;
  transition: background-color 1s;
  color: #2f1e84;
  transition: color 1s;
}

#cesta {
  width: 700px;
  margin-bottom: 25px;
  margin-top: -75px;
}

@media (max-width: 650px) {
  #cabecera-img {
    margin: 2rem auto !important;
  }
}

/* caracteristicas de la app */

#info {
  padding-right: 23rem;
  padding-left: 23rem;
  /*padding: 20rem 10rem 10rem 20rem;*/
  text-align: center;
}
#espantapajaros {
  position: absolute;
  margin-top: -176px;
  left: 78%;
}

@media (max-width: 650px) {
  #cabecera-img {
    margin-top: -280px !important;
    left: 88%;
  }
}
