
<main>
  <section class="row">
    <!-- <img src="assets/fotos/grapes-2000.jpg" alt=""> -->
    <div class="col">
        <h1 id="sub1">Bienvenidos </h1>
        <h1 id="sub2">a La Huerta</h1>
        <h2 id="sub3">Recolecta de la huerta a tu casa</h2>
    </div>
   
  </section>

  <!-- TARJETA CON INFO -->
  <div class="row marginCards" id= "collectCards">

    <mat-card class="columnCards cards">
      <mat-card-header>
        <mat-card-title >Para todos</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="icon" src="assets/img/team.png" alt="">
      <mat-card-content>
        <p>
          Compra, vende o intercambia productos agrícolas desde tu casa y acuerda con el productor las condiciones.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="columnCards cards">
      <mat-card-header>
        <mat-card-title>En todas partes</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="icon" src="assets/img/ubicacion.png" alt="">
      <mat-card-content>
        <p>La huerta llega a todos los lugares,busca por provincia o localidad y decide si envías o recoges.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="columnCards cards">
      <mat-card-header>
        <mat-card-title>Justo</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="icon" src="assets/img/balanzaMano.png"alt="">
      <mat-card-content>
        <p>El vendedor fija libremente los precios de sus productos y se lleva el beneficio total de la venta.</p>
      </mat-card-content>
    </mat-card>
  </div>




  <!-- BOTON PARA IR A HUERTA SIN LOGIN -->
  <div class="row">
    <a routerLink="huerta">Entra en la Huerta</a>
  </div>
