/* CSS rules to specify families

COLORES
naranja claro --> #F39C12
naranja ocuro --> #E67E22
verde ----------> #267172
gris -----------> #767676
blanco ---------> #FdFFFF

font-family: 'Roboto', sans-serif;
font-family: 'Signika', sans-serif;
*/

 /* GENERAL */
 .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}
.col{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
}
 
  /* BANNER GUIA */
  .cardtitle2 {
    font-family: "Signika", sans-serif;
    color: #e67e22; 
  }
  .cardtitle3 {
    font-family: "Signika", sans-serif;
    color:  #267172;
    margin-left: 100px;
    font-size: 1.2rem;
  }
  .cardtitle3:hover{
    color: #408f91;
  }
  hr{
    margin-top: 10px;
  }


/*/////////////TARJETAS////////////////*/

/*** dimensiones ***/
.cards {
    max-width: 350px;
    border-radius: 25px;
    border-color: #767676;
    margin-top: 30px;
  }
  .card_registro{
    height: 560px;
    margin-left: -150px;
  }
 
  #collectCards{
    padding: 12px;
    margin-top: 30px;
  
  }
  #collectCards > .cards{
    margin: 12px;
  }
  .cards:hover{
    box-shadow: 6px 6px 6px  #267172;
  }
 
  .imgCard {
    background-size: cover;
    
  }

  /*** contenido  ***/
  .cardtitle{
    font-family: 'Signika', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #e67e22;
    padding-top:50px ;
   }

   .card-subtitle{
     color: #267172;
     text-align: center;
     margin-top: 10px;
   }

  .contentCard {
   font-family: 'Roboto', sans-serif;
   text-align: center;
   color: #767676;
   padding: 10px;

  }
  .contentCard_resgistro{
    margin-top: 40px;
   }
  
  .nameField{
   font-style: normal;
   font-weight: bold;
   color: #767676;
  }


  /*///////////BOTÓN////////////*/

#buy{
 margin-top: 20px;
}

button 
{
    border-radius: 25px;
    width: 180px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #fdffee;
    font-size: 15px;
    border: 0.16em solid rgba(255, 255, 255, 0);
    text-decoration: none;
    background-color: #267172;
    transition: box-shadow 0.16s ease;
}

button:hover 
{
    background: #408f91;
    box-shadow: none;
}
.buttonsCards 
{
    margin-right: 72px;
    margin-left: 75px;
}