/* CSS rules to specify families

COLORES
naranja claro --> #F39C12
naranja ocuro --> #E67E22
verde ----------> #267172
gris -----------> #767676
blanco ---------> #FdFFFF

font-family: 'Roboto', sans-serif;
font-family: 'Signika', sans-serif;
*/

 /* GENERAL */
 .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}
.col{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
}
 
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: inherit;
}
.colImg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.colBanner{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  width: 93%;
}

/* decoracion general */
a{
  text-decoration:none;
  color: #FdFFFF;
}
a:hover{
  color:#F39C12
}


/* BANNER GUIA */
.cardtitle2 {
    font-family: "Signika", sans-serif;
    color: #e67e22; 
    font-size: 1.7rem;
  }

/* NAVEGACION */
.navegacion {
  margin-top: 15px;
  background-color: #267172;
  padding: 20px;
}

  hr{
    margin-top: 10px;
  }


/*/////////////TARJETAS////////////////*/

/*** dimensiones ***/
.cards {
    max-width: 350px;
    border-radius: 25px;
    border-color: #767676;
    margin-top: 30px;
  }
  .card_registro{
    height: 558px;
    margin-left: -150px;
  }
 
  #collectCards{
    padding: 12px;
    margin-top: 30px;
  
  }
  #collectCards > .cards{
    margin: 12px;
  }
  .cards:hover{
    box-shadow: 6px 6px 6px  #267172;
  }
 
  .imgCard {
    background-size: cover;
    
  }

  /*** contenido  ***/
  .cardtitle{
    font-family: 'Signika', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #e67e22;
    padding-top:50px ;
   }

   .card-subtitle{
     color: #267172;
     text-align: center;
     margin-top: 10px;
   }

  .contentCard {
   font-family: 'Roboto', sans-serif;
   text-align: center;
   color: #767676;
   padding: 10px;

  }
  .contentCard_resgistro{
    margin-top: 40px;
   }
  
  .nameField{
   font-style: normal;
   font-weight: bold;
   color: #767676;
  }


  /*///////////BOTÓN////////////*/

#buy{
 margin-top: 20px;
}

button 
{
    border-radius: 25px;
    width: 180px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #fdffee;
    font-size: 15px;
    border: 0.16em solid rgba(255, 255, 255, 0);
    text-decoration: none;
    background-color: #267172;
    transition: box-shadow 0.16s ease;
}

button:hover 
{
    background: #408f91;
    box-shadow: none;
}
.buttonsCards 
{
    margin-right: 72px;
    margin-left: 75px;
}
#fotoCard{
  margin-left: 20%;
  margin-right: 20px;
}

/* RESPONSIVE */
@media screen and (max-width: 1206px) {
 
   #formCard{
     margin-left: 10px;
   }
  
 }
 @media screen and (max-width: 998px) {
 
  #formCard{
    margin-left: 10px;
    max-width: 225px;
    height: 410px;
  }
  #fotoCard{
    max-width: 360px;
  }
  .contentCard_resgistro{
    margin-top: 10px;
   }
  .cardtitle{
    padding-top: 10px;
  }
  .buttonsCards 
{
    margin-right: 10px;
    margin-left: 10px;
}
.cardtitle2{
  text-align: center;
}

}
@media screen and (max-width: 769px) {
 
#fotoCard{
  display: none;
  visibility: hidden;
}
 
}

