<mat-dialog-content>
  <h1 mat-dialog-title>{{data.productName}}</h1>
  <img id="fotoProduct" src="{{data.productImg}}" onError="this.src='./assets/img/ICOfruitBAG.png'" alt="">
  <div id="cuerpoTexto">
    <p class="contentCard"><span class="nameField">Precio:</span> {{data.productPrice}}€/kg</p>
    <p class="contentCard">
      <span class="nameField">Acepta trueque : </span> {{data.productChange}}
    </p>
    <p class="contentCard">
      <span class="nameField">Tipo de producto : </span> {{data.productType}}
    </p>
    <p class="contentCard">
      <span class="nameField">Localidad : </span> {{data.productLocality}}
    </p>
    <p class="contentCard">
      <span class="nameField">Producto Eco : </span> {{data.productEco}}
    </p>
   
  </div>
  <mat-dialog-actions>
    <button id="buy">Reservar producto</button>
  </mat-dialog-actions>

</mat-dialog-content>
