/* /* 
COLORES
    > naranja claro --> #F39C12
    > naranja ocuro --> #E67E22
    > verde ----------> #267172
    > gris -----------> #767676
    > blanco ---------> #FdFFFF
 
TIPOGRAFIAS
    > Headers: font-family: 'Signika', sans-serif;
    > Textos: font-family: 'Roboto', sans-serif; */

/*** GENERAL  ***/
#container {
  width: 100%;
}
/* flex space */
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-right: 0;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.colBanner{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  width: 93%;
}

/* decoracion general */
a{
  text-decoration:none;
  color: #FdFFFF;
}
a:hover{
  color:#F39C12
}


/* BANNER GUIA */
.cardtitle2 {
    font-family: "Signika", sans-serif;
    color: #e67e22; 
    font-size: 1.7rem;
  }

/* NAVEGACION */
.navegacion {
  margin-top: 15px;
  background-color: #267172;
  padding: 20px;
}

/* IMAGEN DE PERFIL */
.imgPerfil {
  background-size: cover;
  margin-right: 50px;
  margin-left: -100px;
  width: 500px

}
/** Efecto color borde TARJETAS **/
.sombraCards:hover {
  box-shadow: 6px 6px 6px #F39C12;
}

/* DATOS DE PERFIL */
.data {
  font-family: "Roboto", sans-serif;
  font-size: small;
  align-items: flex-start;
}

#UserName {
  color: #f39c12;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-left: -10px;
}

.datosPerfil{
  padding: 6px;
}

p {
  margin-left: 5px;
  font-size: 1rem;
  margin-top: 11px;
}

.icondata{
  margin-right: 5px;
}

#editPerfil{
  color:#267172;
  margin-left: 5px;
}
#edit-profileIcon {
  margin-left: 18px;
  margin-right: 5px;
  width: 18px;
}
#comodin{
  margin-top: 50px
}


/* RESPONISVE */ 

@media screen and (max-width: 769px) {

  .imgPerfil{
    width: 300px
  }
  .cardtitle2{
    text-align: center;
  }
}
@media screen and (max-width: 620px) {

  .comodin{
    flex-direction: column;
  }
  .imgPerfil{
    width: 200px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .data{
    margin-right: 10px;
    margin-left: 100px;
  }
}

