
<!-- BANNER DE GUIA -->
<div class="row">
  <div class="colBanner">
      <h1 class="cardtitle2" style="margin-top:20px; margin-bottom: -5px;">Mis productos</h1>
  </div>
</div>
<!-- lienea separacion -->
<!-- <hr style="background-color: #e67e22;"> -->

 <!-- NAVEGACION -->
 <div class="row navegacion">

    <div class="col">
        <a routerLink="../historialpedidos">Historial de tus pedidos</a>
    </div>
    
    <div class="col">
        <a routerLink="../pedidosactivos">Envios activos</a>
    </div>

    <div class="col">
        <a routerLink="/huerta">La Huerta</a>
    </div>

    <div class="col">
      <a  routerLink="/perfil">Mi Perfil</a>
    </div>
  
</div>
<!-- lienea separacion -->
<!-- <hr style="background-color: #e67e22;"> -->


<!-- TARJETAS -->

<div class="rowCards" id="collectCards">
    
    <mat-card routerLink="/anaproducto" class="cards columnCards" id="agregarProduct">
        <mat-card-content  class="cardtitle" >
            <div id="addProducto">
                <a style="text-decoration: none; color:#E67E22">
                    <img  class="imgCard" id="cestaAdd" mat-card-image src="./assets/img/ICOfruitBAG.png"  alt="cesta"/>
                    <p>Agregar producto</p>
                </a>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card class="cards columnCards" *ngFor= "let productos of productosUsuarios">
      <img class="imgCard" mat-card-image src= "{{productos.productImg}}" onError="this.src='./assets/img/ICOfruitBAG.png'" alt="{{productos.productName}}"/>
      <mat-card-title class="cardtitle">{{productos.productName}}</mat-card-title>
      <mat-card-content>
        <p class="contentCard"><span class="nameField">Precio:</span> {{productos.productPrice}} /kg</p>
        <p class="contentCard">
          <span class="nameField">Cantidad disponible:</span> {{productos.productAmount}} kg
        </p> 
      </mat-card-content>
      <mat-card-actions class = "rowButtons buttonsCards" id= "boton"> 
        <a (click)="producto_selec(productos)" style="color:#fdffee; margin-right: 10px" class="aEditar">Editar</a>   
        <!-- <a routerLink="/app-editar-producto" class="aEditar" id="edit">Editar</a> -->
        <button (click)= "deleteProducto(productos.idproduct)">Eliminar</button>
      </mat-card-actions>    
    </mat-card>
</div>