<div class="row">
  <div class="col">
    <h1 class = "cardtitle2" style="margin-top:20px">Mis productos</h1>
</div>
<div class="col">
    <h3 routerLink="/perfil" class = "cardtitle3" style="margin-top:20px">Volver a Perfil</h3>
</div>
</div>

<!-- lienea separacion -->
<hr style="background-color: #e67e22;">

<!-- TARJETAS -->

<div class="rowCards" id="collectCards">
    
    <mat-card routerLink="/anaproducto" class="cards columnCards" id="agregarProduct">
        <mat-card-content  class="cardtitle" >
            <div id="addProducto">
                <a style="text-decoration: none; color:#E67E22">
                    <img  class="imgCard" id="cestaAdd" mat-card-image src="./assets/img/ICOfruitBAG.png" alt="cesta"/>
                    <p>Agregar producto</p>
                </a>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card class="cards columnCards" *ngFor= "let productos of productosUsuarios">
      <img class="imgCard" mat-card-image src= "{{productos.productImg}}" alt="{{productos.productName}}"/>
      <mat-card-title class="cardtitle">{{productos.productName}}</mat-card-title>
      <mat-card-content>
        <p class="contentCard"><span class="nameField">Precio:</span> {{productos.productPrice}} /kg</p>
        <p class="contentCard">
          <span class="nameField">Cantidad disponible:</span> {{productos.productAmount}} kg
        </p> 
        
        <p>{{productos.idProduct}}</p>
      </mat-card-content>
      <mat-card-actions class = "rowButtons buttonsCards" id= "boton">
        <button id="edit">Editar</button>
        <button (click)= "deleteProducto(productos.idProduct)">Eliminar</button>
      </mat-card-actions>    
    </mat-card>
<!-- 
    <mat-card class="cards columnCards">
        <img class="imgCard" mat-card-image src="./assets/fotos/tomate.jpg" alt="manzanas"/>
        <mat-card-title class="cardtitle">Tomates</mat-card-title>
        <mat-card-content>
          <p class="contentCard"><span class="nameField">Precio:</span> 1.5€/kg</p>
          <p class="contentCard">
            <span class="nameField">Cantidad disponible:</span> 35kg
          </p>
        </mat-card-content>
        <mat-card-actions class = "rowButtons buttonsCards" id= "boton">    
          <button id="edit">Editar</button>
          <button>Eliminar</button>
        </mat-card-actions>    
    </mat-card> -->
</div>