/* 
COLORES
    > naranja claro --> #F39C12
    > naranja ocuro --> #E67E22
    > verde ----------> #267172
    > gris -----------> #767676
    > blanco ---------> #FdFFFF

TIPOGRAFIAS
    > Headers: font-family: 'Signika', sans-serif;
    > Textos: font-family: 'Roboto', sans-serif; */

/***** GENERAL *****/
#container {
  width: 100%;
  margin: 0;
}

/* FELXBOX */
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: inherit;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.colBanner{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  width: 93%;
}

/* decoracion general */
a{
  text-decoration:none;
  color: #FdFFFF;
}
a:hover{
  color:#F39C12
}


/* BANNER GUIA */
.cardtitle2 {
    font-family: "Signika", sans-serif;
    color: #e67e22; 
    font-size: 1.7rem;
  }

/* NAVEGACION */
.navegacion {
  margin-top: 15px;
  background-color: #267172;
  padding: 20px;
}

/* IMAGEN PERFIL */
#foto_perfil {
  border-radius: 25px;
  width: 500px;
}
/** Efecto color borde TARJETAS **/
.sombraCards:hover {
  box-shadow: 3px 3px 3px  #267172;
}

.dataprofile {
  margin-top: 5%;
}

.dataprofile input {
  padding: 8px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 25px;
  width: 400px;
  border-radius: 6px;
}

button {
  border-radius: 25px;
  width: 205px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fdffee;
  font-size: 15px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  text-decoration: none;
  background-color: #267172;
  transition: box-shadow 0.16s ease;
  margin-top: 5px;
}

button:hover {
  background: #408f91;
  box-shadow: none;
}


#edit_foto {
  border-style: none;
  background-color: #fdffff;
  margin-left: 320px;
}


/* RESPONISVE */
@media screen and (max-width: 769px) {

  .cardtitle2{
    text-align: center;
  }
}

@media screen and (max-width: 400px) {

  .dataprofile input {
    padding: 8px;
    margin-bottom: 8px;
    margin-left: 20px;
    margin-right: 5px;
    width: 300px;
    border-radius: 6px;
  }
  #foto_perfil{
    width: 350px;
  }
}