<!-- <p> EDITAR PRODUCTO </p> -->

<!-- BANNER DE GUIA -->
<div class="row">
    <div class="colBanner">
        <h1 class="cardtitle2" style="margin-top:20px; margin-bottom: -5px;">Editar Producto</h1>
    </div>
  </div>
  <!-- lienea separacion -->
  <!-- <hr style="background-color: #e67e22;"> -->
  
  <!-- NAVEGACION -->
  <div class="row navegacion">
    <div class="col">
        <a routerLink="../misproductos" style="color:  #FdFFFF;">Mis productos</a>
    </div>
  
    <div class="col">
        <a routerLink="../historialpedidos" style="color:  #FdFFFF;">Historial de pedidos</a>
    </div>
    
    <div class="col">
        <a routerLink="../pedidosactivos" style="color:  #FdFFFF;">Historial de Envíos</a>
    </div>
  
    <div class="col">
        <a routerLink="/huerta" style="color:  #FdFFFF;">La Huerta</a>
    </div>
    
  </div>
  <!-- lienea separacion -->
  <!-- <hr style="background-color: #e67e22;"> -->
  


<!-- CARD CON PRODUCTO A EDITAR -->
<div class="row">

    <!-- trajeta de producto a modificar -->
    <div class="col" >
        <mat-card class="cards columnCards sombraCards colData" style="height: 780px; margin-top: 40px; ">
            <img
              class="imgCard"
              mat-card-image
              src="{{producto.productImg}}" 
              onError="this.src='./assets/img/ICOfruitBAG.png'"
              alt="imagen producto"
            />
            <mat-card-title class="cardtitle">{{producto.productName}}</mat-card-title>

            <mat-card-content>
      
              <p class="contentCard"><span class="nameField">Precio:</span> {{producto.productPrice}} €/kg</p>

              <p class="contentCard"><span class="nameField">Tipo Producto:</span> {{producto.productType}} €/kg</p>   

              <p class="contentCard"><span class="nameField">Unidades disponibles:</span> {{producto.productAmount}}</p>
            
              <p class="contentCard"><span class="nameField">Localidad:</span> {{producto.productLocality}}</p>

              <p class="contentCard"><span class="nameField">Percio Producto:</span> {{producto.productPrice}} €/kg</p>

              <p class="contentCard"><span class="nameField">Ecológico:</span> {{producto.productEco}} </p>
              
              <p class="contentCard"><span class="nameField">Trueque</span> {{producto.productChange}}</p>

              <p class="contentCard"><span class="nameField">ID Producto</span> {{producto.idproduct}}</p>
      
            </mat-card-content>
        </mat-card> 
      
    </div>


    
<!-- ////////////////FORMULARIO///////////////////// -->
<div class="col-sm" style="margin-top: 40px;">
    <mat-card class="cards columnCards sombraCards colForm"> 
        <mat-card-title class = "cardtitle">
            Modifica tu producto aquí
        </mat-card-title>

            <mat-card-content>
                <form [formGroup]="myForm">
                        
                        <div class="form-group">
                                <label style="font-family: 'Roboto', sans-serif">Imagen de Producto</label>
                                <input type="text" class="form-control" formControlName="productImg">
                        </div>
                    
                        <div class="form-group">
                                <label style="font-family: 'Roboto', sans-serif">Nombre del producto</label>
                                <input type="text" class="form-control" formControlName="productName"
                                        [ngClass]="{'is-invalid': !myForm.get('productName').valid}">
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Tipo de producto</label>
                            <select class="form-control" id="exampleFormControlSelect1" formControlName="productType"
                            [ngClass]="{'is-invalid': !myForm.get('productType').valid}">
                            <option>Fruta</option>
                            <option>Verdura</option>
                            <option>Otros</option>
                            </select>
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label style="font-family: 'Roboto', sans-serif">Cantidad disponible</label>
                                <input type="number" class="form-control" formControlName="productAmount"
                                [ngClass]="{'is-invalid': !myForm.get('productAmount').valid}">
                            </div>
                            <div class="form-group col-md-6">
                                <label style="font-family: 'Roboto', sans-serif">Precio por unidad (€/kg)</label>
                                <input type="number" class="form-control" formControlName="productPrice"
                                [ngClass]="{'is-invalid': !myForm.get('productPrice').valid}">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6" >
                                <label style="font-family: 'Roboto', sans-serif">Localidad</label>
                                <input style="width: 318px;" type="text" class="form-control" formControlName="productLocality"
                                [ngClass]="{'is-invalid': !myForm.get('productLocality').valid}">
                            </div>
                        </div>
            
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Eco</label>
                            <select class="form-control" id="exampleFormControlSelect1" class="form-control" formControlName="productEco"
                            [ngClass]="{'is-invalid': !myForm.get('productEco').valid}">
                            <option>Sí</option>
                            <option>No</option>
                            
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Trueque</label>
                            <select class="form-control" id="exampleFormControlSelect1" class="form-control" formControlName="productChange"
                            [ngClass]="{'is-invalid': !myForm.get('productChange').valid}">
                            <option>Sí</option>
                            <option>No</option>
                            
                            </select>
                        </div>

                        <mat-card-actions>

                            <button (click)="editar_producto()">Guardar Cambios</button>

                        </mat-card-actions>

                  </form>
                
            </mat-card-content>
        </mat-card>
</div>



</div>