
 /* EDITAR PRODUCTO */

 /* GENERAL */
 .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
  }
  .col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
  }
  .colBanner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    width: 93%;
  }
  
  /* decoracion general */
  a{
    text-decoration:none;
    color: #fdffee;
  }
  a:hover{
    color:#F39C12
  }
  
  
  /* BANNER GUIA */
  .cardtitle2 {
      font-family: "Signika", sans-serif;
      color: #e67e22; 
      font-size: 1.7rem;
    }
  
  /* NAVEGACION */
  .navegacion {
    margin-top: 15px;
    background-color: #267172;
    padding: 20px;
  }

/* CARDS */
 .cards {
    max-width: 350px;
    border-radius: 25px;
    padding-bottom: 30px;
    border-color: #cac6c6;
    border: solid, 1px;
    border-width: 0.5px;
  }
  
  #collectCards > .cards {
    margin: 12px;
  }
  
  .imgCard {
    background-size: cover;
  }

  .cardtitle {
    font-family: "Signika", sans-serif;
    text-align:center;
    color: #e67e22;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    
  }
  
  .contentCard {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: #767676;
    padding: 5px;
    margin-top: 10px;
  }
  span{
    font-size: 1rem;
  }
  
  .nameField {
    font-style: normal;
    font-weight: bold;
    color: #767676;
  }

/** Efecto color borde TARJETAS **/
.sombraCards:hover {
  box-shadow: 6px 6px 6px #267172;
}




 /* FORM EDITAR PRODUCTO */

  /* img */
  #foto_producto{
      width: 50%;
      margin-left: 30%;
  }

  /* input de modificacion de producto */
  .input_modificar{
      width:60%;
      padding: 10px;
      margin-top: 20px;  
      border-color: #cac6c6;
      border: solid, 1px;
      border-width: 0.5px;
      width: 600px;
  }



   /* FORM -- boton */
   button {
    border-radius: 25px;
    width: 300px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #fdffee;
    font-size: 15px;
    border: 0.16em solid rgba(255, 255, 255, 0);
    text-decoration: none;
    background-color: #267172;
    transition: box-shadow 0.16s ease;
    margin-top: 20px;
    margin-left: 20px;
    
  }
  
  button:hover {
    background: #408f91;
    box-shadow: none;
  }

  .colData{
    margin-left: 50%;
  }
  
  /* responsive */
  @media screen and (max-width: 769px) {

    .cardtitle2{
      text-align: center;
    }
    .buttonsCards 
    {
      margin-right: 50px;
      margin-left: 50px;  
    } 
    .colData{
      margin-left: 10px;
    }
    
  }
  @media screen and (max-width:440px) {

    .colForm{
    margin-left: 20px;
    }
    .colData{
      margin-left: 10px;
      width:350px ;
    }
    
  }