<!-- <p>about-us works!</p> -->

<!-- <p>profile works!</p> -->

<!-- BANNER DE GUIA -->
<div class="row">
    <div class="colBanner">
        <h1 class="cardtitle2" style="margin-top:20px; margin-bottom: -5px;">¿ Quien esta detrás de la Huerta ?</h1>
    </div>
</div>
<!-- lienea separacion -->
<!-- <hr style="background-color: #e67e22;"> -->

 <!-- NAVEGACION -->
<div class="row navegacion">
    <div class="col">
        <a routerLink="../misproductos">Mis productos</a>
    </div>

    <div class="col">
        <a routerLink="../historialpedidos">Historial de pedidos</a>
    </div>
    
    <div class="col">
        <a routerLink="../pedidosactivos">Historial de Envíos</a>
    </div>

    <div class="col">
        <a routerLink="/huerta">La Huerta</a>
    </div>
    
</div>
<!-- lienea separacion -->
<!-- <hr style="background-color: #e67e22;"> -->

<!-- PERFILES DESARROLLADORES  -->
<div class="row" style="margin-top: 50px;">

    <!-- PACU  -->
    <div class="datosPerfil">
        <img class="imgPerfil" src="../../../assets/fotos/perfil PASCU.jpg" alt="Pascual Bolullo">
        <h1>Pascual Bolullo</h1>
        <h3>Desarrollador</h3>
        <p >Apasionado de la educación y el aprendizaje, añadió a su vocación la programación, cada día busca ideas nuevas de como aportar algo a su entorno. Tras  muchos años como voluntario, profesor y la logística ha decidido aportar algo nuevo a su experiencia: la programación.
        “From the rain comes a river running wild that will create an empire for you”</p>
        <a class="Lk" href="https://www.linkedin.com/in/pascu-bolullo-valeri-579217173/">Linkedin</a>
    </div>

    <!-- NAT  -->
    <div class="datosPerfil">
        <img class="imgPerfil" src="../../../assets/fotos/perfil NAT.jpg" alt="Natalia Sainz">
        <h1>Natalia Sainz</h1>
        <h3>Desarrolladora</h3>
        <p>Estudié comunicación audiovisual y hasta hace no mucho me he estado dedicando a la planificación de contenidos audiovisuales.
            El aprendizaje constante que requiere el sector tecnológico junto a su comunidad, han sido dos de las principales razones para lanzarme a estudiar un bootcamp para llegar a ser una frontend developer.</p>
        <a class="Lk"  href="https://www.linkedin.com/in/natalia-sainz-barroso/">Linkedin</a>
        </div>

    <!-- MENX  -->
    <div class="datosPerfil">
        <img class="imgPerfil" src="../../../assets/fotos/perfil MENX.jpg" alt="Carmen Martín">
        <h1>Carmen Martín</h1>
        <h3>Desarrolladora</h3>
        <p>Persona creativa, con ganas de seguir aprendiendo, buscar nuevos retos que me hagan seguir creciendo, por ello he decidido seguir desarrollándome en el mundo de la       programación.
        Gracias a mis mas de 12 años experiencia laboral he adquirido aptitudes como el trabajo en equipo, liderazgo, gestión de equipos, 
        además de trabajar en la experiencia del cliente.</p>
        <a class="Lk"  href="https://www.linkedin.com/in/menchumenx/">Linkedin</a>
    </div>

    <!-- JAVI  -->
    <div class="datosPerfil">
        <img class="imgPerfil" src="../../../assets/fotos/perfil JAVI.jpg" alt="Javier Hurtado">
        <h1>Javier Hurtado</h1>
        <h3>Desarrollador</h3>
        <p>Me encanta la programación y estoy ansioso de aprender más sobre las nuevas tecnologías.
            Aprendo rápido y me encanta trabajar en proyectos diferentes y desafiantes. Utilizo una amplia variedad de
            tecnologías, tanto Back (Node.js, Express.js, Java) como Front (Angular, Bootstrap)."Talent wins games, but teamwork and intelligence win championships "
        </p>
        <a class="Lk"  href="https://www.linkedin.com/in/javier-hurtado-8363b691/">Linkedin</a>

    </div>

</div>


