<!-- <p>about-us works!</p> -->

<!-- <p>profile works!</p> -->

<!-- BANNER DE GUIA -->
<div class="row">
    <div class="colBanner">
        <h1 class="cardtitle2" style="margin-top:20px; margin-bottom: -5px;">¿ Quien esta detrás de la Huerta ?</h1>
    </div>
</div>
<!-- lienea separacion -->
<!-- <hr style="background-color: #e67e22;"> -->

 <!-- NAVEGACION -->
<div class="row navegacion">
    <div class="col">
        <a routerLink="../misproductos">Mis productos</a>
    </div>

    <div class="col">
        <a routerLink="../historialpedidos">Historial de pedidos</a>
    </div>
    
    <div class="col">
        <a routerLink="../pedidosactivos">Historial de Envíos</a>
    </div>

    <div class="col">
        <a routerLink="/huerta">La Huerta</a>
    </div>
    
</div>
<!-- lienea separacion -->
<!-- <hr style="background-color: #e67e22;"> -->

<!-- PERFILES DESARROLLADORES  -->
<div class="row" style="margin-top: 50px;">

    <!-- PACU  -->
    <div class="datosPerfil">
        <img class="imgPerfil" src="../../../assets/fotos/perfil PASCU.jpg" alt="Pascual Bolullo">
        <h1>Pascual Bolullo</h1>
        <h3>Desarrollador</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Tenetur perferendis atque recusandae, culpa minus praesentium eius 
            tempore inventore veritatis nisi expedita. Consequuntur magnam 
            cupiditate hic nemo facere ab delectus minima.</p>
    </div>

    <!-- NAT  -->
    <div class="datosPerfil">
        <img class="imgPerfil" src="../../../assets/fotos/perfil NAT.jpg" alt="Natalia Sainz">
        <h1>Natalia Sainz</h1>
        <h3>Desarrollador</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Tenetur perferendis atque recusandae, culpa minus praesentium eius 
            tempore inventore veritatis nisi expedita. Consequuntur magnam 
            cupiditate hic nemo facere ab delectus minima.</p>
    </div>

    <!-- MENX  -->
    <div class="datosPerfil">
        <img class="imgPerfil" src="../../../assets/fotos/perfil MENX.jpg" alt="Carmen Martín">
        <h1>Carmen Martín</h1>
        <h3>Desarrollador</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Tenetur perferendis atque recusandae, culpa minus praesentium eius 
            tempore inventore veritatis nisi expedita. Consequuntur magnam 
            cupiditate hic nemo facere ab delectus minima.</p>
    </div>

    <!-- JAVI  -->
    <div class="datosPerfil">
        <img class="imgPerfil" src="../../../assets/fotos/perfil JAVI.jpg" alt="Javier Hurtado">
        <h1>Javier Hurtado</h1>
        <h3>Desarrollador</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Tenetur perferendis atque recusandae, culpa minus praesentium eius 
            tempore inventore veritatis nisi expedita. Consequuntur magnam 
            cupiditate hic nemo facere ab delectus minima.</p>
    </div>

</div>


