
<!-- BANNER DE GUIA -->
<div class="row">
  <div class="colBanner">
    <h1 class = "cardtitle2" style="margin-top:20px; margin-bottom: -5px;">Historial Envíos</h1>
  </div>
</div>
<!-- lienea separacion -->
<!-- <hr style="background-color: #e67e22;"> -->


 <!-- NAVEGACION -->
 <div class="row navegacion">
  <div class="col">
      <a routerLink="../misproductos">Mis productos</a>
  </div>

  <div class="col">
      <a routerLink="../historialpedidos">Historial de tus pedidos</a>
  </div>
  
  <div class="col">
      <a  routerLink="../pedidosactivos">Historial de Envíos</a>
  </div>

  <div class="col">
    <a  routerLink="/perfil">Mi Perfil</a>
</div>

</div>
<!-- lienea separacion -->
<!-- <hr style="background-color: #e67e22;"> -->




  <!-- TATEJETAS DE HISTORIAL ENVIOS -->
  <div   class="rowCards" id="collectCards">

    <mat-card *ngFor = "let producto of productos_arr" class="cards columnCards sombraCards">
      <img
        class="imgCard"
        mat-card-image
        src="{{producto.productImg}}" 
        onError="this.src='./assets/img/ICOfruitBAG.png'"
        alt="imagen producto"
      />
      <mat-card-title class="cardtitle ">{{producto.productName}}</mat-card-title>

      <mat-card-content>

        <p class="contentCard"><span class="nameField">Precio:</span> {{producto.productAmount}} €/kg</p>

        <p class="contentCard"><span class="nameField">Unidades Pedidas:</span> {{producto.productAmount}}</p>

        <!-- <p class="contentCard">
          <span class="nameField">Productor:</span> {{producto.iduser}}
        </p> -->

        <p class="contentCard"><span class="nameField">Localidad:</span> {{producto.productLocality}}</p>

        <p class="contentCard"><span class="nameField">Adquirido por Trueque : </span> {{producto.productChange}}</p>


      </mat-card-content>
      <!-- <mat-card-actions class="rowButtons buttonsCards" id="boton">
        <button id="buy">Comprar</button>
      </mat-card-actions> -->
    </mat-card>
  
  </div>


<!-- CODIGO DE PARA FUTURA FUNCIONALIDAD (ENVIOS Y PEDIDOS ACTIVOS) -->
<!-- <div class="row">
  <div class="column">
    <h2>Pedidos</h2>

    <table class="pedidosEnvios" id="tablaPedido">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Origen</th>
          <th>Entrega</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tomate</td>
          <td>Salamanca</td>
          <td>14/04/21</td>
        </tr>
        <tr>
          <td>Zanahoria</td>
          <td>Palencia</td>
          <td>18/04/21</td>
        </tr>
        <tr>
          <td>Manzana</td>
          <td>Soria</td>
          <td>22/04/21</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="column">
    <h2>Envíos</h2>
    <table class="pedidosEnvios" id="tablaPedido">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Origen</th>
          <th>Llegada</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tomate</td>
          <td>Salamanca</td>
          <td>14/04/21</td>
        </tr>
        <tr>
          <td>Zanahorias</td>
          <td>Palencia</td>
          <td>13/05/21</td>
        </tr>
        <tr>
          <td>Peras</td>
          <td>Soria</td>
          <td>17/05/21</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
