
/* GENERAL */
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}
.col{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}

.colBanner{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  width: 93%;
}


/* BANNER GUIA */
.cardtitle2 {
  font-family: "Signika", sans-serif;
  color: #e67e22; 
  font-size: 1.7rem;
}

/* NAVEGACION */
.navegacion {
margin-top: 15px;
background-color: #267172;
padding: 20px;
}

a{
  text-decoration:none;
  color: #FdFFFF;
}
a:hover{
  color:#F39C12
}

/****** TARJETAS ******/
/***** TITULO *****/
.cardtitle {
  font-family: "Signika", sans-serif;
  text-align: center;
  color: #e67e22;
  margin-bottom: 15px;
}
.cardtitle2 {
  font-family: "Signika", sans-serif;
  color: #e67e22; 
  /* margin-left: 200px; */
}
.cardtitle3 {
  font-family: "Signika", sans-serif;
  color:  #267172;
  margin-left: 100px;
}
.cardtitle3:hover{
  color: #408f91;
}

/****** CONTENIDO TARJETAS ******/
.cards {
  max-width: 250px;
  border-radius: 25px;
  padding-bottom: 30px;
  border-color: #cac6c6;
  border: solid, 1px;
  border-width: 0.5px;
}

#collectCards > .cards {
  margin: 12px;
}

.imgCard {
  background-size: cover;
 
}

.rowCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.columnCards {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: flex-start;
}

.contentCard {
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: #767676;
}

.cardtitle {
  font-family: "Signika", sans-serif;
  text-align: left;
  color: #e67e22;
  
}

.field {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

