
/* GENERAL */
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}
.col{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
}


/**** titulo y vuelta a perfil *****/
.cardtitle2 {
  font-family: "Signika", sans-serif;
  color: #e67e22; 
  /* margin-left: 200px; */
}
.cardtitle3 {
  font-family: "Signika", sans-serif;
  color:  #267172;
  margin-left: 100px;
}
.cardtitle3:hover{
  color: #408f91;
}

.field {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/****** TARJETAS ******/
/***** TITULO *****/
.cardtitle {
  font-family: "Signika", sans-serif;
  text-align: center;
  color: #e67e22;
  margin-bottom: 15px;
}
.cardtitle2 {
  font-family: "Signika", sans-serif;
  color: #e67e22; 
  /* margin-left: 200px; */
}
.cardtitle3 {
  font-family: "Signika", sans-serif;
  color:  #267172;
  margin-left: 100px;
}
.cardtitle3:hover{
  color: #408f91;
}

/****** CONTENIDO TARJETAS ******/
.cards {
  max-width: 250px;
  border-radius: 25px;
  padding-bottom: 30px;
  border-color: #cac6c6;
  border: solid, 1px;
  border-width: 0.5px;
}

#collectCards > .cards {
  margin: 12px;
}

.imgCard {
  background-size: cover;
 
}

.rowCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.columnCards {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: flex-start;
}

.contentCard {
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: #767676;
}

.cardtitle {
  font-family: "Signika", sans-serif;
  text-align: left;
  color: #e67e22;
  
}


/* ***Tablas***

#pedido {
  font-family: "Signika", sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}

#envio {
  font-family: "Signika", sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.field {
  font-family: "Signika", sans-serif;
  font-size: 26px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.producto {
  font-size: 16px;
  margin-left: 22px;
}

.origen {
  font-size: 16px;
  margin-left: 22px;
}
.fecha {
  font-size: 16px;
  padding-left: 5px;
  margin-left: 22px;
}

#tablaEnvios {
  margin-left: 30px;
}

#tablaPedido {
  margin-right: 30px;
}

.pedidos {
  margin-right: 25px;
}

.envios {
  margin-left: 15px;
}

.sep {
  margin: 55px;
} */

/*Tabla*/

/* h2 {
  margin-top: 150px;
  font-size: 28px;
}
.pedidosEnvios {
  margin-top: 0px;
}

table {
  width: 500px;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 155px;
  margin-left: 25px;
  table-layout: fixed;
  overflow-wrap: break-word;
}

/*celdas*/
/* thead {
  overflow: hidden;
}
table thead th {
  text-align: center;
  padding: 0.5em;
}

table tbody td {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table thead {
  letter-spacing: 0.03em;
}

thead {
  background-color: #e67e22;
  font-family: "Signika", sans-serif;
  font-size: 25px;
  color: white;
}

tr:nth-child(even) {
  background: rgb(235, 229, 229);
} */ 

