<!-- FILTROS DE LA HUERTA -->

<div id="filtros" class="rowFiltros" >
    <mat-expansion-panel id="lineExp" hideToggle>
            <mat-expansion-panel-header id="lineExp1">
                <mat-panel-title id="filtroName">
                    <p>Filtrar productos</p>
                </mat-panel-title>
            </mat-expansion-panel-header>

        <form action="" class="rowInsideFiltros" [formGroup]="myFormFilter">
            <div class="columnFilter " id="localizacion">
                <p>Localización</p>
                <div class="columnFilter">
                    <div class="rowInsideFiltros ">
                        <input class ="form-group" type="text" matInput placeholder="Localidad" formControlName="productLocality"/>
                    </div>
                </div>
            </div>
           
            <div class="columnFilter" id="precio">
                <p>Precio</p>
                <div>
                 <mat-slider class="average" thumbLabel [displayWith]="formatLabel" tickInterval="0"min="0" max="100"  (input)="changeValue($event)"></mat-slider>
                </div>
            </div>

            <div class="columnFilter" id="product">
                <p>Producto</p>
                <div>
                    <input class ="form-group" type="checkbox" id="fruta" name="fruta" value="fruta" formControlName="productTypeFruta" />

                    <label for="fruta">Fruta</label><br/>

                    <input class ="form-group" type="checkbox" id="verdura" name="verdura" value="verdura" formControlName="productTypeVerdura" />

                    <label for="Verdura">Verdura</label><br/>
                    
                    <input class ="form-group" type="checkbox" id="otros" name="otros" value="otros" formControlName="productTypeOtros" />

                    <label for="otros">Otros</label><br/> 
                </div>
            </div>
            <div class="columnFilter" id="eco">
                <p>Eco</p>
                <div>
                    <input class ="form-group" type="checkbox" id="eco" name="eco" value="yes" formControlName="productEco"/>
                    <label for="eco">Eco</label><br>
                </div>
            </div>
            <div class="columnFilter" id="trueque">
                <p>Trueque</p>
                <div>
                    <input class ="form-group" type="checkbox" id="trueque" name="trueque" value="yes" formControlName="productChange"/>
                    <label for="trueque">Acepta trueque</label><br />
                </div>
            </div> 
        </form>
        <div class= "rowFiltros" id="filtrosButton">
            <button class ="buttonhuerta" (click)="buscarPorFiltro()">Aplicar Filtro</button>
        </div>                 
    </mat-expansion-panel>


    <div id="buscar" class= "rowFiltros" [formGroup]="myFormFilter">
        <input id="iputBuscar" matInput placeholder="Buscar" formControlName="productName" />
        <div class= "rowFiltros" >
            <button id="buscarButton" (click)="buscarPorFiltro()">Buscar</button>
        </div>  
    </div>
</div>


<!-- TARJETAS -->

<div class="rowCards marginCards" id="collectCards">
    <mat-card (click)="openDialog(productos)" class="cards columnCards" *ngFor= "let productos of productosHuerta">
        <div class ="testDiv">
            <img class="imgCard" mat-card-image src = "{{productos.productImg}}" onError="this.src='./assets/img/ICOfruitBAG.png'" alt="{{productos.productName}}"/>    
        </div>
        <mat-card-title class="cardtitle">{{productos.productName}}</mat-card-title>
        <mat-card-content>
        <p class="contentCard"><span class="nameField">Precio:</span> {{productos.productPrice}} €/kg</p>
        <p class="contentCard">
            <span class="nameField">Adquirir por trueque: </span> {{productos.productChange}}
        </p>
        <div  class="rowCards">
            <button class ="buttonhuerta" (click)="meterEnCarrito(productos.idproduct)" id="buy">Reservar producto</button>
        </div>
        </mat-card-content>
    </mat-card>
</div>    
